asgiref==3.5.0
async-timeout==4.0.2
backports.zoneinfo==0.2.1
click==8.1.2
colorama==0.4.4
Deprecated==1.2.13
Django==4.0.4
django-rq==2.5.1
django-wkhtmltopdf==3.4.0
packaging==21.3
psycopg2-binary==2.9.3
pyparsing==3.0.8
redis==4.2.2
rq==1.10.1
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
wrapt==1.14.0
